- @page_title = 'Roles - ' + default_page_title
= render 'header'

.outset
  #roles_table
    %table#roles_index.index
      %tr
        %th.name Name
        %th Modify
  
      - @roles.each do |role|  
        %tr.node.level_1
          %td.snippet
            = image('snippet', :alt => '')
            %span= link_to role.role_name, admin_role_path(role)
          %td.remove
            = link_to t('remove'), admin_role_path(role), :confirm => "Are you sure?", :method => :delete unless role.standard?


#actions
  - form_for :role, :url => admin_roles_path do |form|
    %ul
      %li= form.text_field :role_name
      %li= submit_tag "Add Role"