= render 'header'
- body_classes << "reversed"

%h1 Role

- form_for @role, :url => admin_role_path(@role) do |f|

  .form_area

    %p.title
      = f.label :description
      = f.text_field :description, :class => 'textbox'
    %p
      = f.check_box :allow_empty, :style => "float: left; margin-right: 18px"
      = f.label :allow_empty, "Allow this role to have no users."
    
    %p
      %label
        Active Users
    %ul#taken_users.UserList{:multiple => "multiple"}
      %li= role_spinner 'taken'

    %p
      %label
        Available Users
    %ul#available_users.UserList{:multiple => "multiple"}
      %li= role_spinner 'available'

  .form_bottom
    %p.buttons
      = submit_tag 'Save Changes', :class => 'button'
      = link_to "Cancel", admin_roles_path()

%script{:language => "javascript"}
  = "var role_id = #{@role.id};"